//
// ФАЙЛ РЕСУРСОВ МОДУЛЯ: MYSVCCTL.CPP
//
#include <windows.h>
#include <winuser.h>
#include <commctrl.h>
#include "resource.h"


STRINGTABLE {
	IDS_WNDCLASS,                      "MySvcCtl browser"
	IDS_START,                         "Запустить"
	IDS_CONNECT,                       "Соединиться"
	IDS_STOP,                          "Остановить"
	IDS_ERROR,                         "Ошибка"
	IDS_ERRSTART,                      "Не удалось запустить сервер!"
	IDS_ERRLDLIST,                     "Не удалось получить список!"
	IDS_UNKNOWN,                       "Неизвестно"
}


STRINGTABLE {
	IDS_COL_NAME,                      "Внутр. имя"
	IDS_COL_FULLNAME,                  "Имя"
	IDS_COL_STATUS,                    "Статус"
	IDS_COL_RUNTYPE,                   "Тип запуска"
}


STRINGTABLE {
	IDS_STATE_STOPPED,                 "Остановлена"
	IDS_STATE_STARTING,                "Запускается"
	IDS_STATE_STOPING,                 "Останавливается"
	IDS_STATE_RUNNING,                 "Запущена"
	IDS_STATE_CONTINUING,              "Возобновляется"
	IDS_STATE_PAUSING,                 "Приостонавливается"
	IDS_STATE_PAUSED,                  "Приостановлена"
}


STRINGTABLE {
	IDS_RUNTYPE_BOOT,                  "При загрузке"
	IDS_RUNTYPE_SYSTEM,                "Системный"
	IDS_RUNTYPE_AUTO,                  "Автоматический"
	IDS_RUNTYPE_DEMAND,                "Вручную"
	IDS_RUNTYPE_DISABLED,              "Запрет"
}


IDD_CHOOSE DIALOG 1, 1, 141, 90
STYLE DS_SETFONT | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
WS_MINIMIZEBOX
CAPTION "MySvcCtl"
FONT 10, "Sans serif" {
	LTEXT "Выберите режим работы программы", IDC_STATIC, 10, 4, 128, 10
	AUTORADIOBUTTON "Сервер", IDD1_SERVER, 7,   14, 36, 14
	AUTORADIOBUTTON "Клиент", IDD1_CLIENT, 7,   26, 37, 14
	LTEXT       "Хост",   IDC_STATIC,  8,   43, 20, 10
	CONTROL     "",       IDD1_IP, WC_IPADDRESS, WS_TABSTOP, 26, 41, 62, 10
	LTEXT       "Порт",   IDC_STATIC,  8,   56, 20, 10
	EDITTEXT              IDD1_PORT,   26,  54, 26, 10, ES_NUMBER
	PUSHBUTTON  "",       IDD1_START,  7,   68, 62, 14
	PUSHBUTTON  "",       IDD1_STOP,   75,  68, 62, 14
}


IDM_MAINMENU MENU {
	MENUITEM "Обновить",                             IDM_REFRESH
}


IDM_POPUPMENU MENU DISCARDABLE {
	POPUP "" {
		MENUITEM "Запустить",                        IDM_START
		MENUITEM "Приостановить",                    IDM_PAUSE
		MENUITEM "Возобновить",                      IDM_RESUME
		MENUITEM "Остановить",                       IDM_STOP
		MENUITEM SEPARATOR
		MENUITEM "Тип запуска: АВТОМАТИЧЕСКИ",       IDM_AUTO
		MENUITEM "Тип запуска: ВРУЧНУЮ",             IDM_DEMAND
		MENUITEM "Тип запуска: ЗАПРЕТ",              IDM_DISABLED
	}
}
